<template>
  <div>
     <About />
  </div>
</template>
<script>
// @ is an alias to /src
import About from '@/components/about.vue'

export default {
  name: 'about',
  components: {
    About
  }
}
</script>
