<template>
  <div>
    <Chatroom />
  </div>
</template>

<script>
// @ is an alias to /src
import Chatroom from '@/components/Chatroom.vue'

export default {
  name: 'chatroom',
  components: {
    Chatroom
  }
}
</script>

