<template>
  <div>
    <Message />
  </div>
</template>

<script>
// @ is an alias to /src
import Message from '@/components/Message.vue'

export default {
  name: 'message',
  components: {
    Message
  }
}
</script>
