<template>
  <div>
    <Notification />
  </div>
</template>

<script>
// @ is an alias to /src
import Notification from '@/components/Notification.vue'

export default {
  name: 'notification',
  components: {
    Notification
  }
}
</script>


