<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md2 sm2>
        </v-flex>
        <v-flex xs12 md8 sm8>
          <v-card
            color="#e7e7e7"
            hover
          >
        <!--  <v-img
         src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
          aspect-ratio="2.75"
         ></v-img> -->

        <v-card-title primary-title>
          <div>
            <!-- <h3 class="headline mb-0">About Us</h3> -->
            <div class="subheading">
              Started out in 2016, <b>SAANGAI</b> is a dream of four young aspirants who are contributing to make the world a better place to
              live
              through development in different fields.
              <br/><br/>
              Moreover, <b>SAANGAI</b> is a concept, concept of bringing
                families and friends together, approach of knowing
                likeminded people
                in an
              easier way, playing, travelling, investing together.
              <br/><br/>
              <b>SAANGAI</b> is the change, the world needs. WE ARE THE CHANGE.
            </div>
          </div>
        </v-card-title>
      </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
