<template>
  <div>
    <v-layout row wrap>
      <v-flex xs9 sm10 md10 class="ml-2 mt-2">
         <v-avatar color="grey" class="mr-2 ml-2 mt-1 mb-1" v-for="chatroom in chatrooms" :key="chatroom.id">
           <v-icon> {{ chatroom.action }} </v-icon>
         </v-avatar>
         <span v-for="chatroom in chatrooms" :key="chatroom.id"> <b> {{ chatroom.title }} </b> :</span>
         <span v-for="chatroom in chatrooms" :key="chatroom.id">
           {{ chatroom.description }}
         </span>
      </v-flex>
      <v-flex xs2 sm1 md1>
        <p class="text-xs-right mt-3">
          <v-menu left>
            <v-btn slot="activator" icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile @click="" v-for="item in menuItems" :key="item.id">
                <v-list-tile-title> {{ item.title }} </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </p>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  components: {
    name: 'ChatroomItem'
  },
  data () {
    return {
      chatrooms: [
        {
          action: 'chat',
          title: 'Saangai',
          description: 'Welcome to Saangai. Lets get connected.',
          owner: 'Saangai'
        }
      ],
      menuItems: [
        {
          title: 'Join',
          link: '#'
        },
        {
          title: 'Room Info',
          link: '#' 
        }
      ]
    }
  }
}
</script>

