
<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md2 sm2>
        </v-flex>
        <v-flex xs12 md8 sm8>
          <v-container>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <p class="text-xs-center">
                  <v-icon class="iconWidth">place</v-icon>
                </p>
                <h1 class="text-xs-center">Location</h1>
                <address>
                  <h4 class="text-xs-center">
                    Koteswor-35, Kathmandu<br/> Nepal
                  </h4>
                </address>
              </v-flex>
              <v-flex xs12 md4>
                <p class="text-xs-center">
                  <v-icon class="iconWidth">phone</v-icon>
                </p>
                <h1 class="text-xs-center">Phone</h1>
                <a href="tel:+9779844680862">
                  <h4 class="text-xs-center">+9779844680862</h4>
                </a>
              </v-flex>
              <v-flex xs12 md4>
                <p class="text-xs-center">
                  <v-icon class="iconWidth">email</v-icon>
                </p>
                <h1 class="text-xs-center">Email</h1>
                <a href="mailto:hello@saangai.com">
                  <h4 class="text-xs-center">hello@saangai.com</h4>
                </a>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style>
.iconWidth {
  font-size: 1000% !important;
}
</style>
