<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md2 sm2>
        </v-flex>
        <v-flex xs12 md8 sm8>
          <v-tabs
            v-model="active"
            color="#6ADCA1"
            dark
            slider-color="black"
            centered
            grow
          >
          <v-tab>
            LOGIN
          </v-tab>
          <v-tab>
            SIGN UP
          </v-tab>
          <v-tab-item>
            <v-container>
              <v-layout row wrap>
                <v-flex sm2 md3>
                </v-flex>
                <v-flex xs12 sm8 md6>
                  <LoginComponent />
                </v-flex>
              </v-layout>
             </v-container>
           </v-tab-item>
           <v-tab-item>
             <v-container>
               <v-layout row wrap>
                 <v-flex sm2 md3>
                 </v-flex>
                 <v-flex xs12 sm8 md6>
                   <SignupComponent />
                </v-flex>
              </v-layout>
            </v-container>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
    </v-container>
  </div>
</template>

<script>
import LoginComponent from './LoginComponent.vue'
import SignupComponent from './SignupComponent.vue'
export default {
  components: {
    LoginComponent,
    SignupComponent
  }
}
</script>

<style>
  .default-btn {
    width: 75% !important;
  }
</style>
