<template>
  <div>
  <v-tabs
    v-model="active"
    color="cyan"
    dark
    slider-color="yellow"
  >
    <v-tab
      ripple
    >
      Online
    </v-tab>
    <v-tab
      ripple
    >
      Chatting
    </v-tab>
    <v-tab ripple>
      Chatrooms
    </v-tab>
  </v-tabs>
  </div>
</template>
<script>
export default {
  components: {
    name: 'OnlineList'
  }
}
</script>
