<template>
  <div>
    <v-card class="mt-3" color="#e7e7e7" v-for="post in posts"
      :key="post.id">
      <v-container>
        <v-avatar color="grey" class="mr-3"><img src="http://anishghimire.com.np/images/anishGhimire.jpg"/></v-avatar>
        <b>{{ post.username  }}</b>
        <div class="ml-5">
          {{ post.content  }}
        </div>
            <Reaction />
            <ReplyBox class="" />
      </v-container>
    </v-card>
  </div>
</template>
<script>
import Reaction from './Reaction.vue'
import ReplyBox from './ReplyBox.vue'
export default {
  components: {
    name: 'Post',
    Reaction,
    ReplyBox
  },
  data () {
    return {
      posts: [
        {
          username: 'anish',
          name: 'Anish Ghimire',
          postedon: '2018-1-1',
          content: 'A quick brown ox jumped over the lazy fox.'
        },
        {
          username: 'dipakbadu',
          name: 'Dips Badu',
          postedon: '2018-1-1',
          content: 'Dips badus Post from Darchula'
        }
      ]
    }
  }
}
</script>
<style>
.userPhoto {
  height: 60px;
  width: 60px;
}
.username {
  margin-top: -15px;
}
.link {
  text-decoration: none;
}
</style>
