<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md1 sm1>
        </v-flex>
        <v-flex xs12 md10 sm10>
          <v-card color="#e7e7e7" class="pb-2">
            <v-img 
              src="http://anishghimire.com.np/images/anishGhimire.jpg"
              aspect-ratio="2.5"
            >
            </v-img>
            <p class="text-xs-center" style="margin-top: -40px;">
              <v-avatar size="100">
                <v-img src="http://anishghimire.com.np/images/anishGhimire.jpg"> </v-img>
              </v-avatar>
            </p>
            <p class="text-xs-center"> <a href="#"> anish </a> 
               </br>
              <p class="text-xs-center" style="margin-top: -20px;"> The
                show must go on..</p>
              <p class="text-xs-center" style="margin-top: -20px;"><a 
                href="#"> Update Profile 
                </a> </p> 
            </p>
          </v-card>
          <p class="text-xs-center">
            <v-btn class="" style="margin-top: -20px;">Add as Friend </v-btn>
          </p>
          <v-layout row wrap>
            <v-flex xs12 sm12 md4>
              <v-card class="mt-3 mr-1">
                <v-list>
                  <span v-for="detail in details" :key="detail.id">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="#6adca1"> {{ detail.action  }} </v-icon>
                      </v-list-tile-action>
  
                      <v-list-tile-content>
                        <v-list-tile-title> {{ detail.title }} </v-list-tile-title>
                        <v-list-tile-sub-title> {{ detail.subtitle }}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  <v-divider inset></v-divider> 
                  </span>
                </v-list>
                <h3 class="ml-3">Interests</h3>
                <v-chip v-for="interest in interests" :key="interest.id">
                  <v-avatar class="teal">F</v-avatar>
                    {{ interest.title }}
                </v-chip>
              </v-card>
            </v-flex>
            <v-flex xs12  sm12 md8 class="">
              <Post />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex md1 sm1>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import Post from './Post.vue'
export default {
  components: {
    Post
  },
  data () {
    return {
      details: [
        {
          action: 'work',
          title: 'Web Developer',
          subtitle: 'Works as'
        },
        {
          action: 'place',
          title: 'Kathmandu, Nepal',
          subtitle: 'Location'
        },
        {
          action: 'phone',
          title: '+9779844680862',
          subtitle: 'Phone'
        },
        {
          action: 'person',
          title: 'anish',
          subtitle: 'Username'
        }
      ],
      interests: [
        { title: 'Programming' },
        { title: 'Football' }
      ]
    }
  }
}
</script>
<style>
a {
  text-decoration: none;
}
</style>
