<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md2 sm2>
        </v-flex>
        <v-flex xs12 md8 sm8>
          settings page
        </v-flex>
      </v-layout> 
    </v-container>
  </div>
</template>

