<template>
  <div>
    <form @submit="signupValidate" action="#">
      <v-alert
        :value="true"
        type="error"
        color="#d44950"
        v-for="error in errors"
        :key="error.id"
      >
        {{ error  }}
      </v-alert>
      <v-alert
        :value="true"
        type="success"
        color="#6adca1"
        v-for="successMsg in success"
        :key="successMsg.id"
      >
        {{ successMsg }}
      </v-alert>
      <v-text-field
        v-model="username"
        placeholder="Username"
        prepend-icon="person"
        solo
        autofocus
        background-color="#e7e7e7"
        color="black"
        hint="Please enter username of length 5 to 20 characters."
      ></v-text-field>
      <v-text-field
        v-model="email"
        placeholder="Email"
        prepend-icon="email"
        solo
        background-color="#e7e7e7"
        color="black"
        hint="Please enter a valid email address. i.e
          hello@saangai.com."
       >
       </v-text-field>
       <v-text-field
         v-model = "password"
         placeholder="Password"
         prepend-icon="lock"
         solo
         :append-icon = "show1 ? 'visibility_off' :
         'visibility'"
         :type = "show1 ? 'text' : 'password'"
         @click:append = "show1 = !show1"
         background-color="#e7e7e7"
        color="black"
        hint="Password must be longer than 8 characters."
       >
       </v-text-field>
       <p class="text-md-center text-sm-center">
         <v-btn block color="#6adca1" class="default-btn
           ml-5 mr-5" type="submit">
             Sign Up
         </v-btn>
       </p>
     </form>
  </div>
</template>
<script>
export default {
  components: {
    name: 'SignupComponent'
  },
  data () {
    return {
      show1: false,
      show2: true,
      show3: false,
      show4: false,
      username: null,
      password: null,
      errors: [],
      success: []
    }
  },
  methods: {
    signupValidate: function (e) {
      this.errors = []
      if (!this.username) {
        this.errors.push('Username is required.')
      } else if (!this.validUsername(this.username)) {
        this.errors.push('Invalid username.' +
         'Allowed characters are lowercase alphabets (a-z), digits (0-9)' +
         'underscore (_), hyphen (-) and period (.) of length' +
         ' between 5 to 20 characters.'
        )
      }
      if (!this.email) {
        this.errors.push('Email is required.')
      } else if (!this.validEmail(this.email)) {
        this.errors.push('Valid email is required.')
      }
      if (!this.password) {
        this.errors.push('Password is required.')
      } else if (this.password.length < 8) {
        this.errors.push('Password must longer than 8 characters.')
      }
      if (!this.errors.length) {
        this.success.push('Account created successfully. Please login' +
          ' to continue')
        this.email = ''
        this.password = ''
        return true
      }
      e.preventDefault(e)
    },
    validEmail: function (email) {
      var regex =
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return regex.test(email)
    },
    validUsername: function (username) {
      var regex = /^[a-z0-9._-]{5,20}$/
      return regex.test(username)
    }
  }
}
</script>
