<template>
  <div>
    <v-navigation-drawer temporary absolute v-model="sideNav"
      class="navDrawer"
      width="250"
    >
      <v-toolbar
        flat
        color="#6adca1"
      >
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              SAANGAI
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>

      <v-list dense class="pt-0">
        <v-list-tile
          v-for="item in menuItems"
          :key="item.id"
          :to="item.link"
        >
          <v-list-tile-action>
            <v-icon> {{ item.icon  }} </v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> {{ item.title  }} </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

    </v-navigation-drawer>

    <v-toolbar color="#6adca1">
      <v-toolbar-side-icon @click.stop='sideNav =
        !sideNav'></v-toolbar-side-icon>
      <v-toolbar-title>SAANGAI</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          v-for="item in menuItems"
          :key="item.title"
          :to="item.link">
          <v-icon left dark>
            {{ item.icon }}
          </v-icon>
          {{ item.title }}
         </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <main>
      <router-view> </router-view>
    </main>
  </div>
</template>
<script>
export default {
  data () {
    return {
      sideNav: false,
      menuItems: [
        { title: 'Home', icon: 'home', link: '/' },
        { title: 'About us', icon: 'question_answer', link: '/about' },
        { title: 'Contact us', icon: 'contact_phone', link: '/contact' }
      ],
      right: null
    }
  }
}
</script>

<style lang="stylus">
  @import '../stylus/main'
  .navDrawer {
    background-color: #e7e7e7 !important;
  }
</style>
